workplace_*/
workspace_*/
*.log
code_db/*
results/*

__pycache__/
tmp/*
logs/*
*.tar.gz

*.egg-info

.DS_Store
*.csv

eval_data/*
evaluation_results/*

evaluation/*/data/
evaluation/*/data/*
evaluation/**/data/

cache/*
cache_*/*

.env

*_tmp/*extra_set/15/replication_package/QOGData.dta
extra_set/14/replication_package/ChoicePanel2.dta
